.project {
  margin: 50px 0px;
  margin-left: 100px;
}
.project hr {
  color: #138781;
  width: 300px;
  margin: 10px auto;
}
.project h2 {
  font-weight: bold;
  color: #138781;
}
#ads {
  margin: 30px 0px 30px 0px;
}
#ads .card-notify-badge {
  position: absolute;
  left: -10px;
  top: -20px;
  background: #f29f67;
  text-align: center;
  border-radius: 30px;
  color: black;
  padding: 5px 10px;
  font-size: 14px;
}

.project .card img {
  height: 150px;
  width: 100%;
}
.card-detail-badge {
  background-color: #ec17e5;
  text-align: center;
  border-radius: 30px;
  color: rgb(122, 37, 37);
  padding: 5px 10px;
}
.card-image-overly span {
  display: inline-block;
  margin-left: 5px;
}
.project .card-image-overly {
  font-size: 20px;
}
.ad-btn {
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  text-align: center;
  background-color: #138781;
  display: block;
  font-weight: bold;
  color: rgb(245, 240, 240);
  border-radius: 30px;
  font-size: 1rem;
  line-height: 35px;
  text-decoration: none;
  margin: 20px auto 20px auto;
  overflow: hidden;
  position: relative;
}


/* responsive */

@media(max-width:600px){
  .project{
    margin: 0;
    padding: 0;
    margin-top: 30px;
  }
  .project hr{
    width: 250px;
  }
  .project .card{
    margin-top: 30px;
  }
}